worker.list=loadbalancer
 

 
worker.tomcat1.type=http 
worker.tomcat1.host=127.0.0.1
worker.tomcat1.port={{ ports.0 }}
# worker "tomcat1" uses up to 200 sockets, which will stay no more than 
# 10 minutes in the connection pool. 
worker.tomcat1.connection_pool_size=200
worker.tomcat1.connection_pool_timeout=600 
# worker "tomcat1" will ask the operating system to send a KEEP-ALIVE 
# signal on the connection. 
worker.tomcat1.socket_keepalive=1 
 
 
worker.tomcat2.type=http
worker.tomcat2.host=127.0.0.1
worker.tomcat2.port={{ ports.1 }}
# worker "tomcat2" uses up to 200 sockets, which will stay no more than 
# 10 minutes in the connection pool. 
worker.tomcat2.connection_pool_size=200
worker.tomcat2.connection_pool_timeout=600 
# worker "tomcat2" will ask the operating system to send a KEEP-ALIVE 
# signal on the connection. 
worker.tomcat2.socket_keepalive=1 
 
worker.jkstatus.type=status
 
worker.loadbalancer.type=lb 
worker.loadbalancer.balance_workers=tomcat1,tomcat2
